/node_modules
/public/hot
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

.env.development

.env.production

app/.DS_Store

app/Enum/.DS_Store
