@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Circular Std';
        src: url('../fonts/CircularStd-Black.woff') format('woff');
        font-weight: 900;
    }
}
